body {
  background-color: lightblue;
  color: crimson;
  font: serif;
}
H1 {
  text-align: center;
  font-size: 50px;
}

.photo {
  width: 150px;
  height: 100px;
  padding: 1px;
  border: 1px solid crimson;
  background-color: lightblue;
}
.stock {
  font-size: 25px;
}

.pure-button {
  background-color: skyblue;
  width: 200px;
  height: 100px;
  font-size: large;
}
.container {
  border: 1px solid crimson;
}
